<%- include("partials/header")%>
     
<section id="landing-page" >  



        <a  href='/products' class="btn btn-outline-warning" style="background-color: rgb(247, 191, 10);color: aliceblue;">Let's Go</a>
    

</section>
 
    
    
<%- include("partials/footer")%>